{{! mod/studentlibrary/templates/booklistitem.mustache }}
{{% BLOCKS }}
<div class="radio-card">
	<div class="card-content-detail-wrapper">
		<div class="titleH1">{{titleh1}}</div>
		<div class="titleH2">{{chaptername}}</div>
		<div class="card-props">
			<div class="cover">
			  <img src="{{imgsrc}}" alt="book_img"/>
			</div>
			<div class="props-list">
				<dl class="main-props">
					<dt class="ng-star-inserted">{{studentlibrary_authors}}</dt>
					<dd class="ng-star-inserted authors">{{authors}}</dd>
					<dt class="ng-star-inserted">{{studentlibrary_publisher}}</dt>
					<dd class="ng-star-inserted publisher">{{publisher}}</dd>
					<dt class="ng-star-inserted">{{studentlibrary_year}}</dt>
					<dd class="ng-star-inserted year">{{year}}</dd>
					<dt class="ng-star-inserted">
						<div class="read_button">
							<a href="{{url}}" target="_blank" class="btn btn-primary">{{studentlibrary_read}}</a>
						</div>
					</dt>
					<dd class="ng-star-inserted"></dd>
				</dl>
				<div class="doc_name"></div>
			</div>
			<div class="annotation">
				<p class="annotation_title">{{studentlibrary_annotation}}</p>
				<div>{{{annotation}}}</div>
			</div>
		</div>
	</div>
</div>