{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_studentlibrary/booklistitem

    Example context (json):
    {
        "titleh1": "titleh1",
        "chaptername": "chaptername",
        "studentlibrary_authors": "Authors",
        "authors": "authors",
        "studentlibrary_publisher": "Publishing",
        "publisher": "publisher",
        "studentlibrary_year": "The year of publishing",
        "year": "2025"
    }
}}

<div class="radio-card">
	<div class="card-content-detail-wrapper">
		<div class="titleH1">{{titleh1}}</div>
		<div class="titleH2">{{chaptername}}</div>
		<div class="card-props">
			<div class="props-list">
				<div class="main-props">
					<div class="ng-star-inserted">{{studentlibrary_authors}}</div>
					<div class="ng-star-inserted authors">{{authors}}</div>
					<div class="ng-star-inserted">{{studentlibrary_publisher}}</div>
					<div class="ng-star-inserted publisher">{{publisher}}</div>
					<div class="ng-star-inserted">{{studentlibrary_year}}</div>
					<div class="ng-star-inserted year">{{year}}</div>
				</div>
			</div>
		</div>
	</div>
</div>