{{!
   @template mod_studentlibrary/booklistitem

    Example context (json):
    {
        "titleh1": "titleh1",
        "chaptername": "chaptername",
        "imghtml": "<img src="https://www.example.com/image.jpg" alt="book_img">",
        "studentlibrary_authors": "Authors",
        "authors": "authors",
        "studentlibrary_publisher": "Publishing",
        "publisher": => "publisher",
        "studentlibrary_year": "The year of publishing",
        "year": "2025",
        "url": "https://www.example.com",
        "studentlibrary_read": "Read",
        "studentlibrary_annotation": "Annotation",
        "annotation": "<p>annotation</p><p>annotation2</p>",
    }
}}
<div class="radio-card">
	<div class="card-content-detail-wrapper">
		<div class="titleH1">{{titleh1}}</div>
		<div class="titleH2">{{chaptername}}</div>
		<div class="card-props">
			<div class="cover">{{{imghtml}}}</div>
			<div class="props-list">
				<dl class="main-props">
					<dt class="ng-star-inserted">{{studentlibrary_authors}}</dt>
					<dd class="ng-star-inserted authors">{{authors}}</dd>
					<dt class="ng-star-inserted">{{studentlibrary_publisher}}</dt>
					<dd class="ng-star-inserted publisher">{{publisher}}</dd>
					<dt class="ng-star-inserted">{{studentlibrary_year}}</dt>
					<dd class="ng-star-inserted year">{{year}}</dd>
					<dt class="ng-star-inserted">
						<div class="read_button">
							<a href="{{url}}" target="_blank" class="btn btn-primary">{{studentlibrary_read}}</a>
						</div>
					</dt>
					<dd class="ng-star-inserted"></dd>
				</dl>
				<div class="doc_name"></div>
			</div>
			<div class="annotation">
				<p class="annotation_title">{{studentlibrary_annotation}}</p>
				<div>{{{annotation}}}</div>
			</div>
		</div>
	</div>
</div>